# Ignore vscode settings
.vscode/
# Ignore particles folder
particles/
# Ignores .vtp files
*.vtp
second_approach/
# Ignores manifest.toml
Manifest.toml
# Ignore log files
*.log
# Ignore test files
test/